<div class="card">
    <div class="card-header text-center">
        <h6>Pesquisa de rota</h6>
    </div>
    <div class="card-body">
        <ng-container *ngFor="let b of routeBoxes; let i = index">
            <div class="row">
                <location-search-field id="field-{{ i }}" (onchange)="onChangeLocation($event)" (onclear)="onClearLocation($event)">
                </location-search-field>
            </div>
        </ng-container>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-sm btn-outline-dark" (click)="addNewLocation()">Adicionar Localização</button>
        <button class="btn btn-sm btn-outline-dark" (click)="clearAll()">Limpar</button>
    </div>
</div>
