$azul: #2c8bc1;
$azul-escuro: #2B79A5;
$azul-claro: #B5DBF0;
$azul-mais-claro: #ECF6FB;
$verde: #179C81;
$verde-claro: #30D3B3;
$verde-escuro: #179C81;
$amarelo: #ff9d00;
$vermelho: #FF0000;
$vermelho-escuro: #B64343;
$vermelho-claro: #EF7E7E;
$cinza: #C5C5C5;
$cinza-medio-claro: #DADADA;
$cinza-medio-escuro: #939393;
$cinza-claro: #EFEFEF;
$cinza-escuro: #747474;
$cinza-mais-escuro: #474747;
$branco: #FFFFFF;
$preto: #000000;
$azul-tooltip:#a0d3f0;
$color-tooltip:#4d4b4b;