.card {
    height: calc(100vh / 2);
    z-index: 1000;
    bottom: 0;
    left: 0;
    margin: 1rem;
    position: absolute;
    max-width: 30%;
    .table-responsive {
        height: 100%;
        font-size: x-small;
        td .row {
            margin: 0;
            display: flex;
            justify-content: space-between;
            .sign-image-td img {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}