<ng-container *ngIf="hasInstructions | async" >
    <div class="card">
        <div class="card-body">
            <h6 class="card-title text-center">Instruções da Rota</h6>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <tbody>
                        <tr *ngFor="let ins of instructions | async">
                            <td>
                                <div class="row">
                                    <div class="sign-image-td">
                                        <img alt="{{ 'sign-icon' + ins.sign }}" 
                                            [src]="ins.sign | routeSign">
                                    </div>
                                    <div class="instruction-text-td"> 
                                        {{ ins.text }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        {{ ins.time | routeTime }}
                                    </div>
                                    <div> 
                                        {{ ins.distance | distance }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</ng-container>
