@import '../../../assets/cores.scss';


* {
    margin: 0;
    padding: 0;
}

.coluna-de-alertas {
    position: absolute;
    right: 20px;
    width: 200px;
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    z-index: 10000;
    top: 0;
}

// BACKGROUND

.my-alert {
    margin-top: 5px;
    height: fit-content;
    width: 200px;
    padding: 5px 20px 10px 20px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success {
    background-color: $verde;
}

.error {
    background-color: $vermelho-escuro;
}

.info {
    background-color: $azul;
}

.warning {
    background-color: $amarelo;
}

// BOTÃO DE FECHAR O ALERTA

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-times {
    font-size: 12px;
    color: $branco;
    cursor: pointer;
}

// ÍCONE DO TIPO DE MENSAGEM

.fas {
    font-size: 34px;
    color: $branco;
}

// TEXTO

h4.alert-title,
p.msg {
    font-family: Arial, Helvetica, sans-serif;
    color: $branco;
    font-weight: bold;
}

h4.alert-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p.msg {
    text-align: center;
    font-stretch: narrower;
    font-size: 12px;
    line-height: 14px;
}
