  <div class="coluna-de-alertas" *ngIf="hasAlerts | async">
    <div
    *ngFor="let alert of alerts | async"
    class="my-alert {{ alert | alertClass:'class' }} alert-dismissable"
    >
      <a class="close-btn" (click)="removeAlert(alert)">
        <i class="fa fa-times"></i>
      </a>
      <span class="fa" [ngClass]="alert | alertClass:'icon'"></span>
      <h4 class="alert-title">{{ alert.title }}</h4>
      <p class="msg">{{ alert.message }}</p>
    </div>
  </div>
