<fieldset class="form-inline">
    <div class="form-group">
      <input id="location" type="text" class="form-control form-control-sm mx-sm-3" [editable]="false" 
        [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" (ngModelChange)="onChange($event)"
        placeholder="Buscar Localização" [resultFormatter]="formatter" [inputFormatter]="formatter" />
      <small *ngIf="searching" class="form-text text-muted">Buscando...</small>
      <div class="invalid-feedback" *ngIf="searchFailed">Não foi possível encontrar a localidade.</div>
      <button *ngIf="model" class="btn btn-sm" ngbTooltip="Limpar Localidade" (click)="clear()">
          Limpar
      </button>
    </div>
  </fieldset>
