/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body * {
    font-size: small;
}

.card {
    z-index: 1000;
    margin: 1rem;
    position: absolute !important;
    max-width: 30%;
    max-height: calc(100vh/2);
    .card-body, .card-header, .card-footer {
        padding: 0.5rem;
        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
    }
}
